<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>boland-shop</title>
    <!-- Common plugins -->
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/plugins/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="/plugins/owl-carousel/assets/owl.theme.default.css" rel="stylesheet">

    <link href="/plugins/icheck/skins/minimal/blue.css" rel="stylesheet">
    <!--master slider-->
    <link href="/plugins/masterslider/style/masterslider.css" rel="stylesheet">
    <link href="/plugins/masterslider/skins/default/style.css" rel='stylesheet'>
    <!--template css-->
    <link href="/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
    @RenderSection("Styles", required: false)

</head>
<body>
    <!--pre-loader-->
    <div id="preloader"></div>
    <!--pre-loader-->
    <!--back to top-->
    <a href="#" class="scrollToTop"><i class="material-icons 48dp">keyboard_arrow_up</i></a>
    <!--back to top end-->
    <!--===========================start Header===========================-->
    <!--top bar-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <span>Free shipping worldwide on order above $150</span>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline pull-right" id="currentuser">
                        <template v-if="user.externalId">
                            <li><a href="/Customer/Logout"><i class="material-icons">perm_identity</i> Logout</a> {{ user.email }}</li>
                        </template>
                        <template v-else>
                            <li><a href="/Customer/Login"><i class="material-icons">perm_identity</i> Login</a></li>
                        </template>
                        <li><a href="#"><i class="material-icons">favorite_border</i> Wishlist (0)</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle"><img src="/images/flags/usa.png" alt=""> English</a>
                            <ul class="lang-dropdown dropdown-menu">
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/spanish.png" alt="Spanish">Spanish</a></li>
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/italy.png" alt="Italian">Italian</a></li>
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/german.png" alt="German">German</a></li>
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/fr.png" alt="French">French</a></li>
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/jp.png" alt="Japanise">Japanese</a></li>
                                <li><a href="javascript:void(0)"><img class="flag" src="/images/flags/in.png" alt="Hindi">Hindi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end top bar-->
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top yamm sticky-header">
        <div class="container">
            <div class="pull-right">
                <ul class="right-icon-nav nav navbar-nav list-inline">
                    <li class="cart-nav"><a href="javascript:void(0);" data-toggle="offcanvas" data-target="#cartNavmenu" data-canvas="body"><i class="material-icons">shopping_cart</i> <span id="antalivagnen" class="label label-primary">3</span></a></li>
                    <li class="dropdown">
                        <a href="javascript:void();" class="dropdown-toggle" data-toggle="dropdown"><i class="material-icons">search</i></a>
                        <ul class="dropdown-menu search-dropdown">
                            <li>
                                <div class="search-form">
                                    <form role="form" method="GET" action="/CategoryProducts/Search">
                                        <input type="text" name="q" class="form-control" placeholder="Search here...">
                                        <button type="submit"><i class="material-icons">search</i></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt=""></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!--mega menu-->
                    <template v-for="l1 in nav">
                        <li class="dropdown yamm-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ l1.name }}  <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h3 class="heading"><a v-bind:href="'/CategoryProducts/AjaxList/' + l1.externalId">Show All</a></h3>                                                
                                            </div>
                                            <template v-for="l2 in l1.children">
                                                <div class="col-sm-4">
                                                    <h3 class="heading"><a v-bind:href="'/CategoryProducts/AjaxList/' + l2.externalId">{{ l2.name }}</a></h3>
                                                    <ul class="mega-menu-list list-unstyled nav" v-for="l3 in l2.children">
                                                        <li><a v-bind:href="'/CategoryProducts/AjaxList/' + l3.externalId">{{ l3.name }}</a></li>
                                                    </ul>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li> <!--menu Features li end here-->
                    </template>

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <!--cart menu side panel-->
    <aside id="cartNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas">
        <div id="minicart" class="cart-inner">
            <h4>Your cart ({{ info.externalId }})</h4>
            <hr>
            <ul class="list-unstyled cart-list margin-b-30">
                <template v-for="row in info.items">
                    <li class="clearfix">
                        <div class="cart-thumb">
                            <a href="#">
                                <img v-bind:src="row.imageUrl+'?w=60&h=60'" alt="" class="img-responsive" width="60">
                            </a>
                        </div>
                        <div class="cart-content">
                            <span v-bind:onclick="'cart.removeFromCart(\''+row.partNo+'\')'" class="close"><i class="fa fa-times"></i></span>
                            <h5><a v-bind:href="'/Product/Show/'+row.url">{{ row.name }}</a></h5>
                            <p><span class="price">{{ row.priceInclVat }}</span>  x {{ row.quantity }}</p>
                        </div>
                    </li>
                </template>
                <li>
                    <div class="text-center">
                        <a href="/Basket/Checkout" class="btn btn-default">Checkout</a>
                        <a href="/Basket/Cart" class="btn btn-primary">View Cart</a>
                    </div>
                </li>
            </ul>
        </div>
    </aside>

    <!--===========================End Header===========================-->
   

   
                @RenderBody()





    <!--footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 margin-b-30">
                    <h4>About Store</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <ul class="list-inline socials">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-3 margin-b-30">
                    <h4>Latest News</h4>
                    <ul class="list-unstyled latest-news">
                        <li class="clearfix">
                            <div class="pull-left">
                                <a href="#">
                                    <img src="/images/img-1.jpg" alt="" width="50" class="img-responsive">
                                </a>
                            </div>
                            <div class="content">
                                <h5><a href="#">Lorem ipsum dolor</a></h5>
                                <span><a href="#">5 Comments</a></span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="pull-left">
                                <a href="#">
                                    <img src="/images/img-2.jpg" alt="" width="50" class="img-responsive">
                                </a>
                            </div>
                            <div class="content">
                                <h5><a href="#">this is a post title</a></h5>
                                <span><a href="#">5 Comments</a></span>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="pull-left">
                                <a href="#">
                                    <img src="/images/img-3.jpg" alt="" width="50" class="img-responsive">
                                </a>
                            </div>
                            <div class="content">
                                <h5><a href="#">Post title goes here</a></h5>
                                <span><a href="#">5 Comments</a></span>
                            </div>
                        </li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-3 margin-b-30">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled link-list">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Cart</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div><!--/col-->
                <div class="col-md-3 margin-b-30">
                    <h4>Newsletter</h4>
                    <div class="newsletter-form margin-b-20">
                        <form>
                            <input type="text" class="form-control margin-b-10" placeholder="Email ">
                            <button class="newsletter-button" type="button"> <i class="fa fa-angle-right"> </i></button>
                        </form>
                    </div>
                    <p class="lead"><small>Support Center: </small> <br>1800 443-5493</p>
                    <p class="lead">support@boland.com</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container text-center">
            <span>&copy; Copyright 2016. All Right Reserved.</span>
            <ul class="list-inline">
                <li><img src="/images/flags/visa.png" alt=""></li>
                <li><img src="/images/flags/paypal.png" alt=""></li>
                <li><img src="/images/flags/mastercard.png" alt=""></li>
                <li><img src="/images/flags/fedex.png" alt=""></li>
            </ul>
        </div>
    </footer>
    <!--/footer-->
    <!--Common plugins-->
    <script src="/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/plugins/pace/pace.min.js"></script>
    <script src="/plugins/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
    <script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="/plugins/sticky/jquery.sticky.js"></script>
    <script src="/plugins/icheck/icheck.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/boland.custom.js"></script>

    <script language="JavaScript">
        var cart = new Vue({
            el: '#minicart',
            data() {
                return {
                    info: null
                }
            },
            mounted() {
                axios
                    .get('/Basket/Minicart')
                    .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
            },
            methods: {
                refresh: function () {
                    axios
                        .get('/Basket/Minicart')
                        .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
                },
                refreshWithData: function (response) {
                    axios
                        .get('/Basket/Minicart')
                        .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
                },
                addToCart: function (partNo, quantity) {
                    axios
                        .get('/Basket/AddToCart?partNo=' + partNo + '&quantity=' + quantity)
                        .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
                },
                updateCart: function (partNo, quantity) {
                    axios
                        .get('/Basket/UpdateCart?partNo=' + partNo + '&quantity=' + quantity)
                        .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
                },
                removeFromCart: function (partNo) {
                    axios
                        .get('/Basket/RemoveFromCart?partNo=' + partNo)
                        .then(response => (this.info = response.data))
                    .then(response => ($('#antalivagnen').html(this.info.numberOfItems)))
                }
            }
        });
        

        var navigation = new Vue({
            el: '#navbar',
            data() {
                return {
                    nav: {}
                }
            },
            mounted() {
                axios
                    .get('/Category/AllCategories')
                    .then(response => (this.nav = response.data))
            }

        });

         var navigation = new Vue({
            el: '#currentuser',
            data() {
                return {
                    user: {}
                }
            },
            mounted() {
                axios
                    .get('/Customer/Me')
                    .then(response => (this.user = response.data))
            }

        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>