<div class="page-breadcrumb">
    <div class="container">
        <h4>Checkout</h4>
    </div>
</div>
<div class="space-60"></div>
<div class="container">
    <form role="form" method="post" action="#">
        <div class="row">
            <div class="col-sm-6 margin-b-30">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>First Name*</label>
                            <input type="text" class="form-control" placeholder="John">
                        </div><!--/form-group-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Last Name*</label>
                            <input type="text" class="form-control" placeholder="Doe">
                        </div><!--/form-group-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Country*</label>
                            <select class="form-control">
                                <option>India</option>
                                <option>USA</option>
                                <option>UK</option>
                                <option>Australia</option>
                                <option>Japan</option>
                                <option>Columbia</option>
                                <option>Poland</option>
                            </select>
                        </div><!--/form-group-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Company Name</label>
                            <input type="text" class="form-control" placeholder="Lorem ipsum">
                        </div><!--/form-group-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Full Address*</label>
                            <input type="text" class="form-control" placeholder="124, Lorem Street..">
                        </div><!--/form-group-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>City / State*</label>
                            <input type="text" class="form-control" placeholder="Jaipur">
                        </div><!--/form-group-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Zip/ Postal Code*</label>
                            <input type="text" class="form-control" placeholder="302012">
                        </div><!--/form-group-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email Address*</label>
                            <input type="text" class="form-control" placeholder="john@doe.com">
                        </div><!--/form-group-->
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>phone*</label>
                            <input type="text" class="form-control" placeholder="123-345-3322">
                        </div><!--/form-group-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="cart-totals margin-b-20">
                    <div class="cart-totals-title">
                        <h3>Cart Summary</h3>
                    </div>
                    <div class="cart-totals-fields">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Cart Subtotal</td>
                                    <td>$29.00</td>
                                </tr>
                                <tr>
                                    <td>Shipping &amp; Handling</td>
                                    <td>$2.00</td>
                                </tr>
                                <tr>
                                    <td class="text-color"><strong>Total</strong></td>
                                    <td class="text-color"><strong>$31.00</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--cart summary-->
                <div class="payment-option">

                    <ul class=" list-unstyled">
                        <li class="margin-b-10">
                            <input type="radio" name="paymentmethod" id="cheque" checked class="icheck"><label for="cheque"> Cheque Payments</label>
                            <br>
                            <span>
                                Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                            </span>
                        </li>
                        <li class="margin-b-10">
                            <input type="radio" name="paymentmethod" id="paypal" class="icheck"><label for="paypal"> Paypal <img src="images/paypal.jpg" alt="" width="90"></label>
                        </li>
                    </ul>
                    <div class="space-20"></div>
                    <p>
                        <input type="checkbox" class="icheck" name="agree" id="agree">
                        <label for="agree">Accept our <a href="javascript:void(0)">Terms &  Condition</a></label>
                    </p>

                    <div class="text-center">
                        <hr>
                        <input name="" type="button" value="process order" class="btn btn-primary btn-xl btn-block">
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="space-60"></div>