@using Model.Commerce.Shopping
@model IPaymentResponse

<div class="page-breadcrumb">
    <div class="container">
        <h4>Shopping cart</h4>
    </div>
</div>
<div class="space-60"></div>
<div class="container">
    @Html.Raw(Model.Html)
</div>
<div class="space-60"></div>
