<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="StormPackageFeed" value="https://pkgs.dev.azure.com/stormcommerce/_packaging/StormPackageFeed/nuget/v3/index.json" />
  </packageSources>
</configuration>