<!--page start-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 margin-b-60">
            <h2>You are now logged out</h2>

            <p>Use the <a href="/Customer/Login">Login</a> to login again.</p>
        </div>
    </div>
</div>
<!--page end-->
