/*
Call to actions
*/


.cta-theme{
    background-color: $primary-color;
}
.newsletter-form form{
    position: relative;
    .newsletter-button{
        position: absolute;
        right: 0;
        top: 0;
            height: 45px;
    border: 0px;
    background: transparent;
    color: #333;
    font-size: 20px;
    width:40px;
    text-align: center;
    }
}